<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live recognition</title>
</head>
<body>
    <script>
        document.addEventListener('visibilitychange', function() {
            if (document.hidden) {
                stopVideoStream();
            }
        });

        function stopVideoStream() {
            fetch("/stop_video_feed", { method: "GET" });
        }
    </script>
</body>
</html>
